@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Halvetica Neu';
  src: url('/assets/fonts/HelveticaNeue Light.ttf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body{
  background-color: #FBFBFA;
  font-family: 'Halvetica Neu';
}
.heading-h{
  font-family: 'Halvetica Neu';
}

.input{
  background-color: white;
  width: 50px;
  height: 50px;
  padding: 4px 17px;
  font-family: 'Halvetica Neu';
}
input:focus {
  
  border-color: none;
}
/* h1 {
  color: green;
}
      */
/* toggle in label designing */
.toggle {
  position : relative ;
  display : inline-block;
  width : 28px;
  height : 16px;
  background-color: #1F1F1F;
  border-radius: 30px;
  border: 2px solid gray;
}
     
/* After slide changes */
.toggle:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  top: 0px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  transition:  all 0.5s;
}
     
/* Toggle text */
p {
  font-family: 'Halvetica Neu';
  font-weight: bold;
}
     
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left : 10px;
}
     
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
  background-color: #1F1F1F;
}
     
/* Checkbox vanished */
.checkbox {
  display : none;
}